{% extends "master.tmpl" %}
{% block content %}
<form id="action" method="POST" action="">{% csrf_token %}</form>
            <div class="content">
                <div class="page-inner">
                    <div class="page-header">
                        <h4 class="page-title">资产管理</h4>
                        <ul class="breadcrumbs">
                            <li class="nav-home">
                                <a href="#">
                                    <i class="flaticon-home"></i>
                                </a>
                            </li>
                            <li class="separator">
                                <i class="flaticon-right-arrow"></i>
                            </li>
                            <li class="nav-item">
                                <a href="#">资产管理</a>
                            </li>
                            <li class="separator">
                                <i class="flaticon-right-arrow"></i>
                            </li>
                            <li class="nav-item">
{% ifequal what "asset/app" %}<a href="#">业务视图</a>{% endifequal %}
{% ifequal what "asset/hardware" %}<a href="#">硬件视图</a>{% endifequal %}
{% ifequal what "asset/ipsn" %}<a href="#">关联视图</a>{% endifequal %}
                            </li>
                        </ul>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div id="view_col" style="top:50px;right:180px;position:absolute;display:none;background:#fff;color:#000;z-index:999;max-height:300px;overflow-y:auto;">
                                    <ul>
                                    {% for column in columns %}
                                      <li style="margin:10px;">
                                      {% if column.4 == 'on' %}
                                      <input type="checkbox" id="{{ column.0 }}" style="margin:0px 10px;padding:0px;" name="view_col" value="{{ column.3 }}" checked="checked" onclick="javascript:item_check_off(this,this.value,'{{what}}');" />
                                      {% else %}
                                      <input type="checkbox" id="{{ column.0 }}" style="margin:0px 10px;padding:0px;" name="view_col" value="{{ column.3 }}" onclick="javascript:item_check_off(this,this.value,'{{what}}');" />
                                      {% endif %}
                                      <label for="{{ column.0 }}"><i></i></label> 
                                      {{ column.2 }}
                                      </li>
                                    {% endfor %}
                                    </ul>
                                </div>
                                <div class="card-header">
                                    <div class="card-head-row">
                                        <div class="card-title">
                                        <a class="btn btn-primary" href="/quick/{{ what }}/edit">新增</a>
                                        <a id="import" class="btn btn-primary" href="javascript:;">导入</a>
                                        <a id="export" class="btn btn-primary" href="/quick/{{ what }}/export">导出</a>
                                        <a class="btn btn-primary" href="/quick/{{ what }}/edit?action=batch">批量编辑</a>
                                        <a class="btn btn-primary" href="javascript:;" onclick="javascript:batch_query('{{ what }}')">批量查询</a>
                                        {% for title,action,value in batchactions %}
                                        {% if action == "delete" %}
                                        <a class="btn btn-primary" id="batchactions" href="javascript:;" value="{{ action }}|{{ value }}" onclick="javascript:action_multi_new('{{ what }}')">{{ title }}</a>
                                        {% endif %}
                                        {% endfor %}
                                        </div>
                                        <div class="card-tools">
                                          {% include "paginate.tmpl" %}
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <p class="demo">
                                        <form name="myform" method="post" action="/quick/{{ what }}/action">
                                          {% csrf_token %}
                                          <div class="table-responsive" id="listitems">
                                          <table class="table table-bordered" onclick="javascript:hide();">
                                            <thead>
                                              <tr>
                                                <th>
                                                  <input type="checkbox" id="itemsall" onclick="javascript:items_check_all();" />
                                                  <label for="itemsall"> <i></i></label> 
                                                </th>
                                              {% for value in columns %}
                                                {% if value.4 == 'on' %}
                                                <th >
                                                  <a href="javascript:action_sort('{{ what }}','{{ value.0 }}');">{{ value.2 }}</a>
                                                  {% ifequal value.1 "asc" %}&darr;{% endifequal %}
                                                  {% ifequal value.1 "desc" %}&uarr;{% endifequal %}
                                                </th>
                                                {% else %}
                                                <th style="display:none;">
                                                  <a href="javascript:action_sort('{{ what }}','{{ value.0 }}');">{{ value.2 }}</a>
                                                  {% ifequal value.1 "asc" %}&darr;{% endifequal %}
                                                  {% ifequal value.1 "desc" %}&uarr;{% endifequal %}
                                                </th>
                                                {% endif %}
                                              {% endfor %}
                                                <th><a href="javascript:;">操作</a></th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                      {% for item in items %}
                                            <tr>
                                                <td>
                                                  <input type="checkbox" name="items" id="{{ item.0.1 }}" value="{{ item.0.1 }}" onclick="javascript:items_check(this);" />
                                                  <label for="{{ item.0.1 }}"> <i></i></label> 
                                                </td>
                                        {% for value in item %}
                                            {% if value.4 == 'on' %}
                                                {% ifequal value.0 "ip" %}
                                                <td><a href="/quick/{{ what }}/edit/{{ value.1 }}">{{ value.1 }}</a></td>
                                                {% endifequal %}
                                                {% ifequal value.0 "sn" %}
                                                <td style="white-space:wrap;"><a href="/quick/{{ what }}/edit/{{ value.1 }}">{{ value.1 }}</a></td>
                                                {% endifequal %}
                                                {% if value.2 == "text" %}
                                                <td title="{{ value.1 }}">{{ value.1 }}</td>
                                                {% endif %}
                                            {% else %}
                                                {% ifequal value.0 "ip" %}
                                                <td style="display:none;"><a href="/quick/{{ what }}/edit/{{ value.1 }}">{{ value.1 }}</a></td>
                                                {% endifequal %}
                                                {% ifequal value.0 "sn" %}
                                                <td style="display:none;"><a href="/quick/{{ what }}/edit/{{ value.1 }}">{{ value.1 }}</a></td>
                                                {% endifequal %}
                                                {% if value.2 == "text" %}
                                                <td style="display:none;" title="{{ value.1 }}">{{ value.1 }}</td>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                                <td>
                                                  <a class="btn btn-info btn-sm" href="/quick/{{ what }}/edit/{{ item.0.1 }}">编辑</a>
                                                  <span class="btn btn-info btn-sm" onClick="javascript:obj_execute('/quick/{{ what }}/delete/{{ item.0.1 }}','确认删除{{ item.0.1 }}?','action')">删除</span>
                                                </td>
                                              </tr>
                                      {% endfor %}
                                            </tbody>
                                          </table>
                                          </div>
                                          <input type="hidden" name="names" id="names" value=""/>
                                        </form>
                                        {% include "filter.tmpl" %}
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
<style>
.file {
    position: relative;
    display: inline-block;
    background: #3385ff;
    border: 1px solid #99D3F5;
    border-radius: 4px;
    padding: 4px 12px;
    overflow: hidden;
    color: white;
    text-decoration: none;
    text-indent: 0;
    line-height: 20px;
    cursor:pointer;
    margin-left:5px;
}
.file input{
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
    cursor:pointer;
}
.file:hover,.upload:hover{
    background: #3385ff;
    border-color: #78C3F3;
    color: white;
    text-decoration: none;
    opacity: 0.4;
    filter:alpha(opacity=40);
}
.showfilename{
    position: relative;
    display: inline-block;
    border: 1px solid #99D3F5;
    border-radius: 4px;
    padding: 4px 12px;
    line-height: 20px;
    margin-top:5px;
}
.upload{
    position: relative;
    display: inline-block;
    background: #3385ff;
    border: 1px solid #99D3F5;
    border-radius: 4px;
    padding: 4px 12px;
    overflow: hidden;
    color: white;
    text-decoration: none;
    text-indent: 0;
    line-height: 20px;
    cursor:pointer;
    margin-left:5px;
}
.fileerrorTip{
    color:red;
    margin-left:10px;
    margin-bottom:5px;
}
#importdiv,#alertdiv{
    top:25%;
    left:40%;
    width:20%;
    position:absolute;
    display:none;
    background-color:#fffbff;
    border-radius: 2px;
    z-index: 10001;
}

#closex,#closey{
    right:5px;
    top:3px;
    position:absolute;
    cursor:pointer;
}
</style>
<div id="importdiv">
<ul>
    <span id="closex" style="">x</span>
    <li style="width:100%;height:35%;padding:5px;color:#000;font-size:15px;">导入数据</li>
    <li><input type="text" style="width:80%;margin-left:5px;" class="showfilename"></li>
    <li>
        <a id="upload" href="javascript:;" class="file">选择文件<input id="myfile" type="file" name="myfile" ></a>
        <a href="javascript:;"  class="upload" onclick="upload_xls('{{what}}')">上传</a>
    </li>
    <li class="fileerrorTip"></li>
</ul>
</div>
<div id='uploading' style='display:none;position:fixed;top:0px;left:0px;z-index:999999;width:100%;height:100%;background-color:lightgrey; filter:alpha(opacity=70);opacity:0.7;'>
    <div style='text-align:center;padding: 250px 0px 5px 0px;' id='loadingpicture'>
    <img src="/quick_content/uploading.gif"/>
    </div>
</div>
<div id="alertdiv">
<ul>
    <span id="closey" style="">x</span>
    <li style="width:100%;height:35%;padding:5px;color:#000;font-size:15px;">错误!</li>
    <li class="fileerrorTip"></li>
</ul>
</div>
<script>
$("#import").click(function(){
    var shield = document.createElement("DIV");
    shield.id = "importshield";
    shield.style.position = "absolute";
    shield.style.left = "0px";
    shield.style.top = "0px";
    shield.style.width = "100%";
    shield.style.height = document.body.scrollHeight+"px";
    shield.style.background = "#b3b3b3";
    shield.style.textAlign = "center";
    shield.style.zIndex = "10000";
    shield.style.opacity = "0.1";
    shield.style.filter = "alpha(opacity=10)";
    document.body.appendChild(shield);
    $("#importdiv").show()
    $("#importshield").show()
});
$("#closex").click(function(){
    $("#importshield").remove()
    $("#importdiv").hide()
});
$("#closey").click(function(){
    $("#alertdiv").hide()
});
</script>
<script>
$(document).ready(function(){
  $("#upload").change(function(){
    var filePath=$("#upload #myfile").val();
    console.log(filePath)
    if(filePath.indexOf("xls")!=-1 || filePath.indexOf("xlsx")!=-1){
        $(".fileerrorTip").html("").hide();
        var arr=filePath.split('\\');
        var fileName=arr[arr.length-1];
        $(".showfilename").val(filePath);
    }else{
        $(".showfilename").val("");
        $("#upload #myfile").val("")
        $(".fileerrorTip").html("您未上传文件或者您上传的文件格式不正确！").show();
    }
  });
});
</script>
<script>
function upload_xls(what){
    var filePath=$("#upload #myfile").val();
    if (filePath){
        var csrfToken = $("[name='csrfmiddlewaretoken']").val();
        var fd = new FormData();
        fd.append("xlsfile",$("#myfile")[0].files[0])
        fd.append("what",what)
        $.ajax({
          url: "/quick/"+what+"/import",
          type: "POST",
          headers: {"X-CSRFToken": csrfToken},
          contentType: false,
          processData: false,
          data: fd,
          success: function (data,status) {
            //console.log("数据: \n" + data + "\n状态: " + status);
            if (data != 'True'){
                console.log(data)
                $("#alertdiv").show()
                $("#alertdiv .fileerrorTip").html(data).show()
                $("#uploading").hide()
            }else{
                $("#uploading").hide()
                location.reload();
            }
          }
        })
        $("#importshield").remove()
        $("#importdiv").hide()
        $("#uploading").show()
    }else{
        console.log("can not upload empty file!")
        $("#importshield").remove()
        $("#importdiv").hide()
        $("#alertdiv").show()
        $("#alertdiv .fileerrorTip").html("上传文件不能为空!").show()
    }
}
</script>
{% endblock content %}


