{% extends "master.tmpl" %}
{% block content %}
<form id="action" method="POST" action="">{% csrf_token %}</form>
            <div class="content">
                <div class="page-inner">
                    <div class="page-header">
                        <h4 class="page-title">系统安装</h4>
                        <ul class="breadcrumbs">
                            <li class="nav-home">
                                <a href="/quick">
                                    <i class="flaticon-home"></i>
                                </a>
                            </li>
                            <li class="separator">
                                <i class="flaticon-right-arrow"></i>
                            </li>
                            <li class="nav-item">
                                <a href="#">系统安装</a>
                            </li>
                            <li class="separator">
                                <i class="flaticon-right-arrow"></i>
                            </li>
                            <li class="nav-item">
                                <a href="#">设备详情</a>
                            </li>
                        </ul>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body">
                                    <p class="demo">
                                        <div class="panel-body">
                                            <table class="table table-bordered">
                                            <tbody>
                                            {% for item in items %}
                                            {% if item.2 == 'nic' %}
                                            <tr>
                                               <td class="active" align="right" width="20%"><label>{{ item.0 }}</label></td>
                                               <td width="80%">
                                                    <div class="col-md-12">
                                                            <table class="table table-hover no-light-title">
                                                                <thead>
                                                                    <tr>
                                                                        <th>名称</th>
                                                                        <th>MAC</th>
                                                                        <th>IP</th>
                                                                        <th>NETMASK</th>
                                                                        <th>GATEWAY</th>
                                                                        <th>双工类型</th>
                                                                        <th>接口类型</th>
                                                                        <th>链路状态</th>
                                                                        <th>接口速率</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                {% for nics in item.1 %}
                                                                    <tr>
                                                                        <td>{{ nics.0 }}</td>
                                                                        <td>{{ nics.1 }}</td>
                                                                        <td>{{ nics.2 }}</td>
                                                                        <td>{{ nics.3 }}</td>
                                                                        <td>{{ nics.4 }}</td>
                                                                        <td>{{ nics.5 }}</td>
                                                                        <td>{{ nics.6 }}</td>
                                                                        <td>{{ nics.7 }}</td>
                                                                        <td>{{ nics.8 }}</td>
                                                                    </tr>
                                                                {% endfor %}
                                                                </tbody>
                                                            </table>
                                                    </div>
                                               </td>
                                            </tr>
                                            {% elif item.2 == 'cpu' %}
                                            <tr>
                                               <td class="active" align="right" width="20%"><label>{{ item.0 }}</label></td>
                                               <td width="80%">
                                                    <div class="col-md-12">
                                                            <table class="table table-hover no-light-title">
                                                                <thead>
                                                                    <tr>
                                                                        <th>类型</th>
                                                                        <th>CPU个数</th>
                                                                        <th>CPU核数</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                {% for nics in item.1 %}
                                                                    <tr>
                                                                        <td>{{ nics.0 }}</td>
                                                                        <td>{{ nics.1 }}</td>
                                                                        <td>{{ nics.2 }}</td>
                                                                    </tr>
                                                                {% endfor %}
                                                                </tbody>
                                                            </table>
                                                    </div>
                                               </td>
                                            </tr>
                                            {% elif item.2 == 'memory' %}
                                            <tr>
                                               <td class="active" align="right" width="20%"><label>{{ item.0 }}</label></td>
                                               <td width="80%">
                                                    <div class="col-md-12">
                                                            <table class="table table-hover no-light-title">
                                                                <thead>
                                                                    <tr>
                                                                        <th>名称</th>
                                                                        <th>容量</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                {% for memorys in item.1 %}
                                                                    <tr>
                                                                        <td>{{ memorys.0 }}</td>
                                                                        <td>{{ memorys.1 }}</td>
                                                                    </tr>
                                                                {% endfor %}
                                                                </tbody>
                                                            </table>
                                                    </div>
                                               </td>
                                            </tr>
                                            {% elif item.2 == 'disk' %}
                                            <tr>
                                               <td class="active" align="right" width="20%"><label>{{ item.0 }}</label></td>
                                               <td width="80%">
                                                    <div class="col-md-12">
                                                            <table class="table table-hover no-light-title">
                                                                <thead>
                                                                    <tr>
                                                                        <th>名称</th>
                                                                        <th>容量</th>
                                                                        {% ifnotequal item.3 '虚拟机' %}
                                                                        <th>槽位</th>
                                                                        <th>类型</th>
                                                                        <th>制造商</th>
                                                                        <th>WWN</th>
                                                                        <th>状态</th>
                                                                        {% endifnotequal %}
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                {% for disks in item.1 %}
                                                                    <tr>
                                                                        <td>{{ disks.0 }}</td>
                                                                        <td>{{ disks.1 }}</td>
                                                                        {% ifnotequal item.3 '虚拟机' %}
                                                                        <td>{{ disks.2 }}</td>
                                                                        <td>{{ disks.3 }}</td>
                                                                        <td>{{ disks.4 }}</td>
                                                                        <td>{{ disks.5 }}</td>
                                                                        <td>{{ disks.6 }}</td>
                                                                        {% endifnotequal %}
                                                                    </tr>
                                                                {% endfor %}
                                                                </tbody>
                                                            </table>
                                                    </div>
                                               </td>
                                            </tr>
                                            {% else %}
                                            <tr>
                                               <td class="active" align="right" width="20%"><label>{{ item.0 }}</label></td>
                                               <td width="80%"><div class="col-md-12">{{ item.1 }}</div></td>
                                            </tr>
                                            {% endif %}
                                            {% endfor %}
                                            </tbody>
                                            </table>
                                        </div>
                                        <div class="text-center">
                                            <a class="btn btn-info btn-sm" href="/quick/install/discover/list">返回</a>
                                        </div>
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
{% endblock content %}


