{% extends "master.tmpl" %}
{% block content %}
            <div class="content">
                <div class="page-inner">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">错误提示</h4>
                                </div>
                                <div class="card-body">
									<p>{{ message }}</p>
									<p class="errormsg">cobbler版本: {{ version }}</p>
									<p class="errormsg">当前用户: {{ username }}</p>
									<p><a href="javascript: history.go(-1)">返回</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock content %}

