{% extends "master.tmpl" %}

{% block content %}

<h1>Events</h1>
<hr />
{% if results %}
<table id="listitems" cellspacing="0">
  <thead>
    <tr>
      <th width="10%">序号</th>
      <th width="30%">时间</th>
      <th width="20%">任务名称</th>
      <th width="20%">状态</th>
      <th width="20%">日志</th>
    </tr>
  </thead>
  <tbody>
  {% for line in results reversed %}
    <tr class="{% cycle 'rowodd' 'roweven' %}">
      <td>{{forloop.counter}}</td>
      <td>{{ line.1|safe }}</td>
      <td>{{ line.2|safe }}</td>
      <td>{{ line.3|safe }}</td>
      <td><a action="class" href="/quick/eventlog/{{ line.0 }}">日志详情</a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% else %}
<h2>No events</h2>
{% endif %}

{% endblock %}



