{% extends 'master.tmpl' %}
{% block content %}

<h1>{{ eventid }} : {{ eventname }} :: {{ eventstate }}</h1>
<hr />
<textarea name="eventlog" id="eventlog">
{{ eventlog }}
</textarea>
<br />
<a href="javascript:location.reload(true)">刷新日志</a>

{% endblock content %}

