{% extends "master.tmpl" %}
{% block content %}
<style>
#batchactions{
    margin-top:2px;
    font-size:80%;
    border: solid 1px #ddd;
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    padding: 5px 18px 5px 5px;
    background: url("http://ourjs.github.io/static/2015/arrow.png") no-repeat scroll right center transparent;
    }
#batchactions::-ms-expand { display: none; }
</style>
<form id="action" method="POST" action="">{% csrf_token %}</form>
            <div class="content">
                <div class="page-inner">
                    <div class="page-header">
                        <h4 class="page-title">配置管理</h4>
                        <ul class="breadcrumbs">
                            <li class="nav-home">
                                <a href="/quick">
                                    <i class="flaticon-home"></i>
                                </a>
                            </li>
                            <li class="separator">
                                <i class="flaticon-right-arrow"></i>
                            </li>
                            <li class="nav-item">
                                <a href="#">配置管理</a>
                            </li>
                            <li class="separator">
                                <i class="flaticon-right-arrow"></i>
                            </li>
                            <li class="nav-item">
                                <a href="#">{{ what|title }}</a>
                            </li>
                        </ul>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div id="view_col" style="top:50px;right:200px;position:absolute;display:none;background:#fff;color:#000;z-index:999;">
                                    <ul>
                                    {% for column in columns %}
                                      <li style="margin:10px;">
                                      <input type="checkbox" id="{{ column.0 }}" style="margin:0px 10px;padding:0px;" name="view_col" value="{{ column.2 }}" checked="checked" onclick="javascript:item_check_off(this,this.value);" />
                                      <label for="{{ column.0 }}"><i></i></label> 
                                      {{ column.0 }}
                                      </li>
                                    {% endfor %}
                                    </ul>
                                </div>
                                <div class="card-header">
                                    <div class="card-head-row">
                                        <div class="card-title">
                                          <a class="btn btn-primary" href="/quick/{{what}}/edit">创建{{ what }}</a>
                                          {% ifequal what "profile" %}
                                          <a class="btn btn-primary" href="/quick/sub{{what}}/edit">创建sub-{{ what }}</a>
                                          {% endifequal %}
    <select id="batchactions">
      <option value="" selected="selected">Batch Actions</option>
      {% for title,action,value in batchactions %}<option value="{{ action }}|{{ value }}">{{ title }}</option>{% endfor %}
    </select>
    <a class="btn btn-primary" href="javascript:;" onclick="javascript:action_multi('{{ what }}')" />GO</a>
                                        </div>
                                        <div class="card-tools">
                                          {% include "paginate.tmpl" %}
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <p class="demo">
                                        <form name="myform" method="post" action="/quick/{{ what }}/action">
                                          {% csrf_token %}
                                          <div class="table-responsive" id="quick-div">
                                          <table class="table table-bordered">
                                            <thead>
                                              <tr>
                                                <th>
                                                  <input type="checkbox" id="itemsall" onclick="javascript:items_check_all();" />
                                                  <label for="itemsall"> <i></i></label> 
                                                </th>
                                              {% for value in columns %}
                                                <th>
                                                {% if value.0 == 'name' %}
                                                  <a href="javascript:action_sort('{{ what }}','{{ value.0 }}');">{{ "名称"|title }}</a>
                                                {% elif value.0 == 'status' %}
                                                  <a href="javascript:action_sort('{{ what }}','{{ value.0 }}');">{{ "状态"|title }}</a>
                                                {% else %}
                                                  <a href="javascript:action_sort('{{ what }}','{{ value.0 }}');">{{ value.0|title }}</a>
                                                {% endif %}
                                                {% ifequal value.1 "asc" %}&darr;{% endifequal %}
                                                {% ifequal value.1 "desc" %}&uarr;{% endifequal %}
                                                </th>
                                              {% endfor %}
                                                <th><a href="javascript:;">操作</a></th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                            {% for item in items %}
                                              <tr>
                                                <td>
                                                  <input type="checkbox" name="items" id="{{ item.0.1 }}" value="{{ item.0.1 }}" onclick="javascript:items_check(this);" />
                                                  <label for="{{ item.0.1 }}"> <i></i></label> 
                                                </td>
                                                {% for value in item %}
                                                <td>
                                                  {% ifequal value.0 "name" %}
                                                  <a href="/quick/{{ what }}/edit/{{ value.1 }}">{{ value.1 }}</a>
                                                  {% endifequal %}
                                                  {% ifequal value.2 "editlink" %}
                                                  {% ifnotequal value.1 "~" %}
                                                  <a href="/quick/{{ value.0 }}/edit/{{ value.1 }}">{{ value.1 }}</a>
                                                  {% endifnotequal %}
                                                  {% endifequal %}
                                                  {% ifequal value.2 "checkbox" %}
                                                  {% ifequal value.1 1 %}
                                                  <input type="checkbox" name="{{ item.name }}" id="{{ item.name }}" value="{{ item.name }}" disabled="disabled" checked="checked" />
                                                  {% else %}
                                                  <input type="checkbox" name="{{ item.name }}" id="{{ item.name }}" value="{{ item.name }}" disabled="disabled" />
                                                  {% endifequal %}
                                                  <label for="{{ item.name }}"> <i></i></label> 
                                                  {% endifequal %}
                                                  {% ifequal value.2 "text" %}
                                                    {{ value.1 }}
                                                  {% endifequal %}
                                                </td>
                                                {% endfor %}
                                                <td>
                                                  <a class="btn btn-info btn-sm" href="/quick/{{ what }}/edit/{{ item.0.1 }}">编辑</a>
                                                  <span class="btn btn-info btn-sm" onClick="javascript:obj_copy('{{ what }}','{{ item.0.1 }}')">复制</span> 
                                                  <span class="btn btn-info btn-sm" onClick="javascript:obj_rename('{{ what }}','{{ item.0.1 }}')">重命名</span> 
                                                  <span class="btn btn-info btn-sm" onClick="javascript:obj_execute('/quick/{{ what }}/delete/{{ item.0.1 }}','确认删除{{ item.0.1 }}?','action')">删除</span> 
                                                  {% ifequal what "system" %}
                                                  <span class="btn btn-info btn-sm" onClick="window.location='/cblr/svc/op/ks/system/{{ item.0.1 }}'">显示KS文件</span>
                                                  {% endifequal %}
                                                  {% ifequal what "profile" %}
                                                  <span class="btn btn-info btn-sm" onClick="window.location='/cblr/svc/op/ks/profile/{{ item.0.1 }}'">显示KS文件</span>
                                                  {% endifequal %}
                                                </td>
                                              </tr>
                                            {% endfor %}
                                            </tbody>
                                          </table>
                                          </div>
                                          <input type="hidden" name="names" id="names" value=""/>
                                        </form>
                                        {% include "filter.tmpl" %}
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
{% endblock content %}



