{% extends "master.tmpl" %}
{% block content %}
{% ifequal what "host/batch" %}
<script>
    $(document).ready(function() {
        $('input[type=radio][name=hosttype]').change(function() {
            if (this.value == '0') {
                $("#hostgroup").hide();
                $("#hostsingle").show();
            }
            else if (this.value == '1') {
                $("#hostgroup").show();
                $("#hostsingle").hide();
            }
        });
    });
    $(document).ready(function() {
        $('input[type=radio][name=scripttype]').change(function() {
            if (this.value == '0') {
                $("#scriptgroup").hide();
                $("#scriptsingle").show();
            }
            else if (this.value == '1') {
                $("#scriptgroup").show();
                $("#scriptsingle").hide();
            }
        });
    });
    $(document).ready(function() {
        $('input[type=reset]').click(function() {
            $("#hostgroup").hide();
            $("#hostsingle").show();
            $("#scriptgroup").hide();
            $("#scriptsingle").show();
        });
    });
function format(source, params) {
    if (arguments.length === 1) {
        return function () {
            var args = $.makeArray(arguments);
            args.unshift(source);
            return $.validator.format.apply(this, args);
        };
    }
    if (arguments.length > 2 && params.constructor !== Array) {
        params = $.makeArray(arguments).slice(1);
    }
    if (params.constructor !== Array) {
        params = [params];
    }
    $.each(params, function (i, n) {
        source = source.replace(new RegExp("\\{" + i + "\\}", "g"), function () {
            return n;
        });
    });
    return source;
};
setInterval(update_data,2000)
function update_data() {
  $.get("/quick/host/batch/list?action='exec'",function(data,status){
    if (data != '[]'){
    //console.log(data)
    var current_msg = $("#result").val();
    var msg = ''
    var temp = data.result.split('\n')
    //console.log(temp)
    if (temp.length >1 ){
        for(var i=0,len=temp.length; i<len; i++){
            //console.log(temp[i])
            if(i==0){
                msg = format("{0}        {1}          {2}\n", data.ip, data.status,temp[0]);
            }else{
                msg = msg + format("                                        {0}\n",temp[i])
            }
        }
        //console.log(msg)
    }else{
        msg = format("{0}        {1}          {2}", data.ip, data.status,data.result);
    } 
    var append_msg = msg + "\n" + current_msg;
    $("#result").val(append_msg);
    }
  });
}
</script>
{% endifequal %}
<form id="action" method="POST" action="">{% csrf_token %}</form>
            <div class="content">
                <div class="page-inner">
                    <div class="page-header">
                        <h4 class="page-title">主机管理</h4>
                        <ul class="breadcrumbs">
                            <li class="nav-home">
                                <a href="/quick">
                                    <i class="flaticon-home"></i>
                                </a>
                            </li>
                            <li class="separator">
                                <i class="flaticon-right-arrow"></i>
                            </li>
                            <li class="nav-item">
                                <a href="#">主机管理</a>
                            </li>
                            <li class="separator">
                                <i class="flaticon-right-arrow"></i>
                            </li>
                            <li class="nav-item">
                            {% ifequal what "host/single" %}<a href="/quick/host/single/list">单机管理</a>{% endifequal %}
                            {% ifequal what "host/group" %}<a href="/quick/host/group/list">主机组</a>{% endifequal %}
                            {% ifequal what "host/batch" %}<a href="/quick/host/batch/list">批处理</a>{% endifequal %}
                            {% ifequal what "host/script" %}<a href="/quick/host/script/list">脚本</a>{% endifequal %}
                            </li>
                        </ul>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                {% if what == "host/single" %}
                                <form name="editform" method="post" action="/quick/{{ what }}/list">{% csrf_token %}
                                <div class="card-header">
                                    <div class="card-title">
                                        <ul id="submenubar">
                                          <li>
                                            <input id="osip" name="osip" class="form-control input-square" type="text" placeholder="请输入主机IP..."/>
                                          </li>
                                          <li>
                                            <input class="btn btn-primary" type="submit" name="submit" value="查询" />
                                          </li>
                                            {% for item in items %}
                                            {% for value in item %}
                                                {% ifequal value.0 "ip" %}
                                          <li><a class="btn btn-primary" target="_blank" href="http://{{ location }}:8022/ssh/host/{{ value.1 }}">SSH</a></li>
                                          <li><a class="btn btn-primary" target="_blank" href="http://{{ location }}:6080/vnc.html?path=?token=sys-{{ value.1 }}">VNC</a></li>
                                                {% endifequal %}
                                                {% ifequal value.0 "ipmi_ip" %}
                                                {% if value.1 != "None" or value.1 != ""%}
                                          <li><a class="btn btn-primary" target="_blank" href="http://{{ location }}:8022/ssh/host/{{ location }}">SOL</a></li>
                                          <li><a class="btn btn-primary" target="_blank" href="http://{{ value.1 }}">BMC</a></li>
                                                {% endif %}
                                                {% endifequal %}
                                            {% endfor %}
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                                </form>
                                <div class="card-body">
                                    <table class="table table-bordered" id="listitems" >
                                        <tbody>
                                            {% for item in items %}
                                            {% for value in item %}
                                            <tr>
                                                <td style="width: 40%; vertical-align: middle;">{{ value.3 }}</td>
                                                <td>{{ value.1 }}</td>
                                            </tr>
                                            {% endfor %}
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                {% elif what == "host/batch" %}
                                <form name="editform" method="post" action="/quick/host/batch/list">{% csrf_token %}
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-check" style="margin-top:5px;">
                                                    <label class="form-radio-label">
                                                        <input class="form-radio-input" type="radio" name="hosttype" value="0"  checked="">
                                                        <span class="form-radio-sign">单机</span>
                                                    </label>
                                                    <label class="form-radio-label">
                                                        <input class="form-radio-input" type="radio" name="hosttype" value="1">
                                                        <span class="form-radio-sign">主机组</span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" id="hostsingle" name="batch_host" placeholder="请输入主机IP..."/>
                                                    <select class="form-control" id="hostgroup" name="batch_multi_host" style="display:none">
                                                    {% for group in groups %}
                                                        <option>{{ group }}</option>
                                                    {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-check" style="margin-top:5px;">
                                                    <label class="form-radio-label">
                                                        <input class="form-radio-input" type="radio" name="scripttype" value="0"  checked="">
                                                        <span class="form-radio-sign">命令</span>
                                                    </label>
                                                    <label class="form-radio-label">
                                                        <input class="form-radio-input" type="radio" name="scripttype" value="1">
                                                        <span class="form-radio-sign">脚本</span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <input type="text" class="form-control"  name="batch_cmd" id="scriptsingle" placeholder="Ex: ls -l;pwd"/>
                                                    <select class="form-control" id="scriptgroup" name="batch_script" style="display:none">
                                                    {% for script in scripts %}
                                                        <option>{{ script }}</option>
                                                    {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="username" name="username" placeholder="username">
                                        </div>
                                    </div>
                                    <div class="col-md-4 login" style="background:none;">
                                        <div class="form-group">
                                            <div class="position-relative">
                                                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                                                <div class="show-password">
                                                    <i class="flaticon-interface"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <input class="btn btn-success" type="submit" name="submit" value="执行"/>
                                            <input class="btn btn-danger" type="reset" value="重置"/>
                                        </div>
                                    </div>
                                </div>
                                </form>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <pre><textarea class="form-control" style="background-color:#000;color:#fff;" id="result" rows="15"></textarea></pre>
                                        </div>
                                    </div>
                                </div>
                                {% else %}
                                <div class="card-header">
                                    <div class="card-head-row">
                                        <div class="card-title">
                                            <a class="btn btn-primary" href="/quick/{{ what }}/edit">添加</a>
                                        {% for title,action,value in batchactions %}
                                            <a class="btn btn-primary" id="batchactions" href="javascript:;" value="{{ action }}|{{ value }}" onclick="javascript:action_multi_new('{{ what }}')">{{ title }}</a>
                                        {% endfor %}
                                        </div>
                                        <div class="card-tools">
                                          {% include "paginate.tmpl" %}
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <p class="demo">
                                        <form name="myform" method="post" action="/quick/{{ what }}/action">
                                          {% csrf_token %}
                                          <div class="table-responsive" id="listitems">
                                          <table class="table table-bordered">
                                            <thead>
                                              <tr>
                                                <th>
                                                  <input type="checkbox" id="itemsall" onclick="javascript:items_check_all();" />
                                                  <label for="itemsall"> <i></i></label> 
                                                </th>
                                                {% for value in columns %}
                                                {% if value.0 != "id" %}
                                                <th>
                                                  <a href="javascript:action_sort('{{ what }}','{{ value.0 }}');">{{ value.2 }}</a>
                                                  {% ifequal value.1 "asc" %}&darr;{% endifequal %}
                                                  {% ifequal value.1 "desc" %}&uarr;{% endifequal %}
                                                </th>
                                                {% else %}
                                                <th style="display:none"></th>
                                                {% endif %}
                                                {% endfor %}
                                                <th><a href="javascript:;">操作</a></th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                            {% for item in items %}
                                            <tr>
                                                <td>
                                                  <input type="checkbox" name="items" id="{{ item.1.1 }}" value="{{ item.1.1 }}" onclick="javascript:items_check(this);" />
                                                  <label for="{{ item.1.1 }}"> <i></i></label> 
                                                </td>
                                            {% for value in item %}
                                                {% if value.0 == "name" %}
                                                <td><a href="/quick/{{ what }}/edit/{{ value.1 }}">{{ value.1 }}</a></td>
                                                {% elif value.0 == "id" %}
                                                <td style="display:none" title="host-{{ value.1 }}">{{ value.1 }}</td>
                                                {% else %}
                                                <td title="{{ value.1 }}">{{ value.1 }}</td>
                                                {% endif %}
                                            {% endfor %}
                                                <td>
                                                  <a class="btn btn-info btn-sm" href="/quick/{{ what }}/edit/{{ item.1.1 }}">编辑</a>
                                                  <span class="btn btn-info btn-sm" onClick="javascript:obj_execute('/quick/{{ what }}/delete/{{ item.1.1 }}','确认删除{{ item.1.1 }}?','action')">删除</span>
                                                </td>
                                              </tr>
                                            {% endfor %}
                                            </tbody>
                                          </table>
                                          </div>
                                          <input type="hidden" name="names" id="names" value=""/>
                                        </form>
                                        {% include "filter.tmpl" %}
                                    </p>
                                </div>
                                {% endif %}
                            </div>

                        </div>
                    </div>
                </div>
            </div>
{% endblock content %}










