<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>任务列表</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="/quick_content/jquery-ui.css" type="text/css" />
  <link rel="stylesheet" type="text/css" media="all" href="/quick_content/style.css" />
  <link rel="stylesheet" type="text/css" media="all" href="/quick_content/jsGrowl.css" />
  <script src="/quick_content/jquery.min.js"></script>
  <script src="/quick_content/jquery-ui.min.js"></script>
  <script src="/quick_content/jsGrowl.js" type="text/javascript"></script> 
  <script src="/quick_content/jsGrowl_jquery.js" type="text/javascript"></script> 
  <script src="/quick_content/cobbler.js" type="text/javascript"></script> 
  <link rel="icon" type="image/png" href="/quick_content/favicon.png" />
  <link rel="stylesheet" href="/quick_content/layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="/quick_content/layuiadmin/style/admin.css" media="all">
</head>
<body>
  
  <div class="layui-fluid">
    <div class="layui-row layui-col-space15">
<h1>导入ISO</h1>
<hr />
<form method="post" action="/quick/import/run">
  {% csrf_token %}
  <div class="sectionbody">
  <ul>
    <li class="editrow">
      <label for="name" class="inputlabel">前缀</label>
      <input type="text" size="128" name="name" id="name" />
      <span class="context-tip">Example: centos7.3, fedora11 (不包含系统架构名称)</span>
    </li>
    <li class="editrow">
      <label for="arch" class="inputlabel">架构</label>
      <select name="arch" id="arch">
        <option value="i386">i386</option>
        <option value="x86_64">x86_64</option>
        <option value="ia64">ia64</option>
        <option value="ppc">ppc</option>
        <option value="ppc64">ppc64</option>
        <option value="ppc64le">ppc64le</option>
        <option value="s390">s390</option>
        <option value="s390x">s390x</option>
        <option value="arm">arm</option>
      </select>
      <span class="context-tip">请选择您导入镜像的系统架构</span>
    </li>
    <li class="editrow">
      <label for="breed" class="inputlabel">类别</label>
      <select name="breed" id="breed">
        <option value="redhat">RedHat based(includes Fedora,CentOS,Scientific Linux)</option>
        <option value="debian">Debian</option>
        <option value="ubuntu">Ubuntu</option>
        <option value="suse">SUSE</option>
      </select>
      <span class="context-tip">如果您导入的ISO文件的系统类型不在选择菜单内，您需要手动创建distro!</span>
    </li>
    <li class="editrow">
      <label for="path" class="inputlabel">路径</label>
      <input type="text" size="128" name="path" id="path" />
      <span class="context-tip">您挂载镜像的绝对路径 (ex: /mnt/cdrom)</span>
    </li>
    <li class="editrow">
      <input class="button" type="submit" name="submit" value="导入" />
    </li>
  </ul>
</form>
    </div>
  </div>
</body>
</html>


