<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge;charset=utf-8" />
    <title>{% block title %}迅捷管理平台{% endblock %}</title>
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    <link rel="icon" href="/quick_content/img/favicon.png" type="image/x-icon"/>
    <!-- Fonts and icons -->
    <script src="/quick_content/assets/js/plugin/webfont/webfont.min.js"></script>
    <script>
        WebFont.load({
            google: {"families":["Open+Sans:300,400,600,700"]},
            custom: {"families":["Flaticon", "Font Awesome 5 Solid", "Font Awesome 5 Regular", "Font Awesome 5 Brands"], urls: ['/quick_content/assets/css/fonts.css']},
            active: function() {
                sessionStorage.fonts = true;
            }
        });
    </script>
    <!--   Core JS Files   -->
    <script src="/quick_content/assets/js/core/jquery.3.2.1.min.js"></script>
    <script src="/quick_content/assets/js/core/popper.min.js"></script>
    <script src="/quick_content/assets/js/core/bootstrap.min.js"></script>
    <!-- jQuery UI -->
    <script src="/quick_content/assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
    <!-- Bootstrap Notify -->
    <script src="/quick_content/assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>
    <!-- jQuery Scrollbar -->
    <script src="/quick_content/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
    <!-- Azzara JS -->
    <script src="/quick_content/assets/js/ready.min.js"></script>
    <!-- Custom JS -->
    <script src="/quick_content/js/quick.js" type="text/javascript"></script>
    <!-- CSS Files -->
    <link rel="stylesheet" href="/quick_content/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/quick_content/assets/css/azzara.min.css">
    <!-- Custom CSS Files -->
    <link rel="stylesheet" type="text/css" media="all" href="/quick_content/css/style.css" />
</head>
<body onload="go_go_gadget()">
    <div>
        <div id='paneloading' style='display:none;position:fixed;top:0px;left:0px;z-index:999999;width:100%;height:100%;background-color:lightgrey; filter:alpha(opacity=70);opacity:0.7;'>
            <div style='text-align:center;padding: 250px 0px 5px 0px;' id='loadingpicture'>
              <img src="/quick_content/img/loading.gif"/>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <!--
                Tip 1: You can change the background color of the main header using: data-background-color="blue | purple | light-blue | green | orange | red"
        -->
        <div class="main-header" data-background-color="light-blue">
            <!-- Logo Header -->
            <div class="logo-header">
                
                <a href="../index.html" class="logo">
                    <img src="/quick_content/assets/img/logoname.svg" alt="navbar brand" class="navbar-brand">
                </a>
                <button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse" data-target="collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon">
                        <i class="fa fa-bars"></i>
                    </span>
                </button>
                <button class="topbar-toggler more"><i class="fa fa-ellipsis-v"></i></button>
                <div class="navbar-minimize">
                    <button class="btn btn-minimize btn-rounded">
                        <i class="fa fa-bars"></i>
                    </button>
                </div>
            </div>
            <!-- End Logo Header -->

            <!-- Navbar Header -->
            <nav class="navbar navbar-header navbar-expand-lg">
                
                <div class="container-fluid">
                    <div class="collapse" id="search-nav">
                        <form class="navbar-left navbar-form nav-search mr-md-3">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <button type="submit" class="btn btn-search pr-1">
                                        <i class="fa fa-search search-icon"></i>
                                    </button>
                                </div>
                                <input type="text" placeholder="Search ..." class="form-control">
                            </div>
                        </form>
                    </div>
                    <ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
                        <li class="nav-item toggle-nav-search hidden-caret">
                            <a class="nav-link" data-toggle="collapse" href="#search-nav" role="button" aria-expanded="false" aria-controls="search-nav">
                                <i class="fa fa-search"></i>
                            </a>
                        </li>
                        <li class="nav-item dropdown hidden-caret">
                            <a class="nav-link dropdown-toggle" href="#" id="messageDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-envelope"></i>
                            </a>
                            <ul class="dropdown-menu messages-notif-box animated fadeIn" aria-labelledby="messageDropdown">
                                <li>
                                    <div class="dropdown-title d-flex justify-content-between align-items-center">
                                        消息                                    
                                        <a href="#" class="small">全部标记为已读</a>
                                    </div>
                                </li>
                                <li>
                                    <div class="message-notif-scroll scrollbar-outer">
                                        <div class="notif-center">
                                            <a href="#">
                                                <div class="notif-img"> 
                                                    <img src="/quick_content/assets/img/jm_denis.jpg" alt="Img Profile">
                                                </div>
                                                <div class="notif-content">
                                                    <span class="subject">张张</span>
                                                    <span class="block">
                                                        你在线 ?
                                                    </span>
                                                    <span class="time">5 分钟前</span> 
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a class="see-all" href="javascript:void(0);">所有消息<i class="fa fa-angle-right"></i> </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown hidden-caret">
                            <a class="nav-link dropdown-toggle" href="#" id="notifDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-bell"></i>
                                <span class="notification">6</span>
                            </a>
                            <ul class="dropdown-menu notif-box animated fadeIn" aria-labelledby="notifDropdown">
                                <li>
                                    <div class="dropdown-title">你有6条未读消息</div>
                                </li>
                                <li>
                                    <div class="notif-center">
                                        <a href="#">
                                            <div class="notif-icon notif-primary"> <i class="fa fa-user-plus"></i> </div>
                                            <div class="notif-content">
                                                <span class="block">
                                                    有新注册用户
                                                </span>
                                                <span class="time">5 分钟前</span> 
                                            </div>
                                        </a>
                                        <a href="#">
                                            <div class="notif-icon notif-success"> <i class="fa fa-comment"></i> </div>
                                            <div class="notif-content">
                                                <span class="block">
                                                    张张提意见了
                                                </span>
                                                <span class="time">12 分钟前o</span> 
                                            </div>
                                        </a>
                                        <a href="#">
                                            <div class="notif-img"> 
                                                <img src="/quick_content/assets/img/profile2.jpg" alt="Img Profile">
                                            </div>
                                            <div class="notif-content">
                                                <span class="block">
                                                    丽丽给你发消息了
                                                </span>
                                                <span class="time">12 分钟前</span> 
                                            </div>
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <a class="see-all" href="javascript:void(0);">查看所有通知<i class="fa fa-angle-right"></i> </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown hidden-caret">
                            <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#" aria-expanded="false">
                                <div class="avatar-sm">
                                    <img src="/quick_content/assets/img/profile.jpg" alt="..." class="avatar-img rounded-circle">
                                </div>
                            </a>
                            <ul class="dropdown-menu dropdown-user animated fadeIn">
                                <li>
                                    <div class="user-box">
                                        <div class="avatar-lg"><img src="/quick_content/assets/img/profile.jpg" alt="image profile" class="avatar-img rounded"></div>
                                        <div class="u-text">
                                            <input type="hidden" name="username" id="username" value="{{ username }}" />
                                            <h4>{{ username }}</h4>
                                            <p class="text-muted">zz@example.com</p><a href="/quick/user/myinfo" class="btn btn-rounded btn-danger btn-sm">个人资料</a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="/quick/user/custom">个性化设置</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="/quick/user/changepwd">修改密码</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="javascript:menuaction('/quick/logout');">退出登陆</a>
                                </li>
                            </ul>
                        </li>
                        
                    </ul>
                </div>
            </nav>
            <!-- End Navbar -->
        </div>
        <!-- Sidebar -->
        <div class="sidebar">
            
            <div class="sidebar-wrapper scrollbar-inner">
                <div class="sidebar-content">
                    <ul class="nav">
      <form id="menuaction" method="POST" action="">{% csrf_token %}</form>
      <script type="text/javascript">
      function menuaction(action) {
         document.forms["menuaction"].action = action
         document.forms["menuaction"].submit();
      }
      </script>
                        <li class="nav-item">
                            <a href="/quick">
                                <i class="fas fa-home"></i>
                                <p>首页</p>
                                <span class="badge badge-count">5</span>
                            </a>
                        </li>
                        {% for url in menu %}
                        {% ifequal url.menustate  "active" %}
                        <li class="nav-item submenu active">
                        {% else %}
                        <li class="nav-item">
                        {% endifequal %}
                            <a data-toggle="collapse" href="#{{url.menutitle}}">
                                <i class="fas {{url.menuicon}}"></i>
                                <p>{{url.menutitle}}</p>
                                <span class="caret"></span>
                            </a>
                            {% ifequal url.menustate  "active" %}
                            <div class="collapse show" id="{{url.menutitle}}">
                            {% else %}
                            <div class="collapse" id="{{url.menutitle}}">
                            {% endifequal %}
                                <ul class="nav nav-collapse">
                                    {% for sub in url.children %}
                                    {% ifequal url.menutitle  "资产管理" %}
                                    <li onclick="loading()" class="{{sub.menustate}}">
                                    {% else %}
                                    <li class="{{sub.menustate}}">
                                    {% endifequal %}
                                        <a href="{{sub.url}}">
                                            <span class="sub-item">{{sub.title}}</span>
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="main-panel">
            {% block content %}
            <h1 class="error">模板生成失败</h1>
            {% endblock %}
        </div>
    </div>
</body>
</html>





