{% if pageinfo %}
<script type="text/javascript">
// All of these functions depend on the form "action" defined in generic_list
function change_limit(value) {
    document.forms["action"].action = '/quick/{{ what }}/modifylist/limit/' + value
    document.forms["action"].submit();
}
function change_page(value) {
    document.forms["action"].action = '/quick/{{ what }}/modifylist/page/' + value
    document.forms["action"].submit();
}
</script>
<ul style="list-style:none" class="nav">
{% if what == 'host/group' or what == 'host/script' or what == 'install/detail' or what == 'install/resume' or what == 'asset/app' or what == 'asset/hardware' or what == 'user/user' %}
<li class="quick-dropdown">
    <span class="quick-dropbtn">显示列</span>
    <div class="quick-dropdown-content">
      {% for column in columns %}
      {% if column.0 != "id" %}
      <span>
          {% if column.4 == 'on' %}
          <input type="checkbox" id="{{ column.0 }}" style="margin:0px 10px;padding:0px;" name="view_col" value="{{ column.3 }}" checked="checked" onclick="javascript:item_check_off(this,this.value,'{{what}}');" />
          {% else %}
           <input type="checkbox" id="{{ column.0 }}" style="margin:0px 10px;padding:0px;" name="view_col" value="{{ column.3 }}" onclick="javascript:item_check_off(this,this.value,'{{what}}');" />
          {% endif %}
          <label for="{{ column.0 }}"><i></i></label> 
          {{ column.2 }}
      </span>
      {% endif %}
      {% endfor %}
    </div>
</li>
{% endif %}
<li>
  <span for="limit">条目/页:</span>
  <select name="limit" id="limit" onchange="javascript:change_limit(this.value)">
  {% for p in pageinfo.items_per_page_list %}
    <option value="{{ p }}"{% ifequal pageinfo.items_per_page p %} selected="selected"{% endifequal %}>{{ p }}</option>
  {% endfor %}
  </select>
  <span>共{{ pageinfo.num_items }}条</span>
  {% ifnotequal pageinfo.prev_page "~" %}
  <a href="javascript:change_page('{{ pageinfo.prev_page }}')"><span class="lpointers" style="color:blue;font-size:150%;">&laquo;</span></a>
  {% else %}
  <span class="lpointers" style="font-size:150%">&laquo;</span>
  {% endifnotequal %}
  <select name="page" id="page" onchange="javascript:change_page(this.value)">
    {% for p in pageinfo.pages %}<option value="{{ p }}"{% ifequal pageinfo.page p %} selected="selected"{% endifequal %}>Page {{ p }}</option>{% endfor %}
  </select>
  {% ifnotequal pageinfo.next_page "~" %}
  <a href="javascript:change_page('{{ pageinfo.next_page }}')"><span class="rpointers" style="color:blue;font-size:150%">&raquo;</span></a>
  {% else %}
  <span class="rpointers" style="font-size:150%">&raquo;</span>
  {% endifnotequal %}
</li>
</ul>
{% endif %}

