{% extends "master.tmpl" %}
{% block content %}
<form id="action" method="POST" action="">{% csrf_token %}</form>
            <div class="content">
                <div class="page-inner">
                    <h4 class="page-title">个人资料</h4>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card card-with-nav">
                                <div class="card-header">
                                    <div class="row row-nav-line">
                                        <ul class="nav nav-tabs nav-line nav-color-secondary" role="tablist">
                                            <li class="nav-item"> <a class="nav-link active" id="profile" data-toggle="tab" href="#tab-profile" role="tab" aria-controls="tab-profile" aria-selected="true">我的资料</a> </li>
                                            <li class="nav-item"> <a class="nav-link" id="settings" data-toggle="tab" href="#tab-settings" role="tab" aria-controls="tab-settings" aria-selected="false">设置</a> </li>
                                        </ul>
                                    </div>
                                </div>
                                <form name="editform" method="post" action="/quick/user/{{ what }}">{% csrf_token %}
                                <div class="card-body">
								<div class="tab-content mt-2 mb-3" id="pills-tabContent">
                                    <div class="tab-pane fade show active" id="tab-profile" role="tabpanel" aria-labelledby="profile">
                                        <div class="row mt-3">
                                        {% for item in items %}
                                            {% if item.0 == 'username' or item.0 == 'employee_id' %}
                                            <div class="col-md-6">
                                                <div class="form-group form-group-default">
                                                    <label for="{{ item.0 }}">{{ item.3 }}</label>
                                                    <input class="form-control"  id="{{ item.0 }}" name="{{ item.0 }}" type="text" style="background:#ccc;" readonly value="{{ item.1 }}">
                                                </div>
                                            </div>
                                            {% elif item.0 == 'name' or item.0 == 'email' %}
                                            <div class="col-md-6">
                                                <div class="form-group form-group-default">
                                                    <label for="{{ item.0 }}">{{ item.3 }}</label>
                                                    <input class="form-control" id="{{ item.0 }}" name="{{ item.0 }}" type="text" value="{{ item.1 }}">
                                                </div>
                                            </div>
                                            {% elif item.0 == 'birth' %}
                                            <div class="col-md-4">
                                                <div class="form-group form-group-default">
                                                    <label for="{{ item.0 }}">{{ item.3 }}</label>
                                                    <input type="text" class="form-control" value="02/02/2020" id="{{ item.0 }}" name="{{ item.0 }}" placeholder="出生日期">
                                                </div>
                                            </div>
                                            {% elif item.0 == 'sex' %}
                                            <div class="col-md-4">
                                                <div class="form-group form-group-default">
                                                    <label for="{{ item.0 }}">{{ item.3 }}</label>
                                                    <select class="form-control" id="{{ item.0 }}">
                                                        {% if item.1 == 'f' %}
                                                        <option selected>女</option>
                                                        <option>男</option>
                                                        {% else %}
                                                        <option selected>男</option>
                                                        <option>女</option>
                                                        {% endif %}
                                                    </select>
                                                </div>
                                            </div>
                                            {% elif item.0 == 'telephone' %}
                                            <div class="col-md-4">
                                                <div class="form-group form-group-default">
                                                    <label for="{{ item.0 }}">{{ item.3 }}</label>
                                                    <input type="text" class="form-control" value="13312231981" id="{{ item.0 }}" name="{{ item.0 }}" placeholder="Phone">
                                                </div>
                                            </div>
                                            {% endif %}
                                            {% endfor %}
                                            <div class="col-md-12">
                                                <div class="form-group form-group-default">
                                                    <label>地址</label>
                                                    <input type="text" class="form-control" value="地球、中国、上海" name="address" placeholder="Address">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="text-right mt-3 mb-3">
                                            <input class="btn btn-success" type="submit" name="submit" onClick="on_form_submit();" value="更新" />
                                            <input class="btn btn-danger" type="button" onClick="window.location='/quick/user/{{ what }}';" value="取消" />
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="tab-settings" role="tabpanel" aria-labelledby="settings">
                                        <div class="row mt-3">
                                            <div class="col-md-12">
                                                <div class="form-group form-group-default">
                                                    <label for="newpwd">新密码</label>
                                                    <input id="newpwd" name="newpwd" class="form-control" type="password" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mt-3 mb-1">
                                            <div class="col-md-12">
                                                <div class="form-group form-group-default">
                                                    <label for="newpwd2">二次确认</label>
                                                    <input id="newpwd2" class="form-control" name="newpwd2" type="password" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="text-right mt-3 mb-3">
                                            <input class="btn btn-success" type="submit" name="submit" onClick="on_form_submit();" value="更新" />
                                            <input class="btn btn-danger" type="button" onClick="window.location='/quick/user/{{ what }}';" value="取消" />
                                        </div>
                                    </div>
                                </div>
                                </form>
							</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock content %}

