{% extends "master.tmpl" %}
{% block content %}
<form id="action" method="POST" action="">{% csrf_token %}</form>
            <div class="content">
                <div class="page-inner">
                    <div class="page-header">
                        <h4 class="page-title">系统安装</h4>
                        <ul class="breadcrumbs">
                            <li class="nav-home">
                                <a href="#">
                                    <i class="flaticon-home"></i>
                                </a>
                            </li>
                            <li class="separator">
                                <i class="flaticon-right-arrow"></i>
                            </li>
                            <li class="nav-item">
                                <a href="#">系统安装</a>
                            </li>
                            <li class="separator">
                                <i class="flaticon-right-arrow"></i>
                            </li>
                            <li class="nav-item">
                                <a href="#">任务列表</a>
                            </li>
                        </ul>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <div class="card-head-row">
                                        <div class="card-title">
                                        <a class="btn btn-primary" href="/quick/install/edit">创建任务</a>
                                        {% for title,action,value in batchactions %}
                                        <a class="btn btn-primary" id="batchactions" href="javascript:;" value="{{ action }}|{{ value }}" onclick="javascript:action_multi_new('{{ what }}')">{{ title }}</a>
                                        {% endfor %}
                                        </div>
                                        <div class="card-tools">
                                          {% include "paginate.tmpl" %}
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <p class="demo">
                                        <form name="myform" method="post" action="/quick/{{ what }}/action">
                                          {% csrf_token %}
                                          <div class="table-responsive" id="listitems">
                                          <table class="table table-bordered">
                                            <thead>
                                              <tr>
                                                <th>
                                                  <input type="checkbox" id="itemsall" onclick="javascript:items_check_all();" />
                                                  <label for="itemsall"> <i></i></label> 
                                                </th>
                                                {% for value in columns %}
                                                <th>
                                                  <a href="javascript:action_sort('{{ what }}','{{ value.0 }}');">{{ value.2 }}</a>
                                                  {% ifequal value.1 "asc" %}&darr;{% endifequal %}
                                                  {% ifequal value.1 "desc" %}&uarr;{% endifequal %}
                                                </th>
                                                {% endfor %}
                                                <th style="width:230px;"><a href="javascript:;">操作</a></th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                            {% for item in items %}
                                            <tr>
                                                <td>
                                                  <input type="checkbox" name="items" id="{{ item.0.1 }}" value="{{ item.0.1 }}" onclick="javascript:items_check(this);" />
                                                  <label for="{{ item.0.1 }}"> <i></i></label> 
                                                </td>
                                            {% for value in item %}
                                              {% ifequal value.0 "name" %}
                                              <td><a href="/quick/install/edit/{{ value.1 }}">{{ value.1 }}</a></td>
                                              {% endifequal %}
                                              {% if value.2 == "text" and value.0 == "usetime" %}
                                              <td id="{{ item.0.1 }}|usetime" class="quick-usetime">{{ value.1 }}</td>
                                              {% endif %}
                                              {% if value.2 == "text" and value.0 == "status" %}
                                              <td id="{{ item.0.1 }}|progress" class="quick-progress">{{ value.1 }}</td>
                                              {% endif %}
                                              {% if value.2 == "text" and value.0 != "status" and value.0 != "usetime" %}
                                              <td title="{{ value.1 }}">{{ value.1}}</td>
                                              {% endif %}
                                            {% endfor %}
                                                <td>
                                                <a class="btn btn-info btn-sm" href="/quick/install/edit/{{ item.0.1}}">编辑</a>
                                                 <span class="btn btn-info btn-sm" onClick="javascript:obj_execute('/quick/install/execute/{{item.0.1 }}','确认执行任务{{item.0.1}}?','action')">执行</span>
                                                 <span class="btn btn-info btn-sm" onClick="javascript:obj_execute('/quick/{{what }}/delete/{{ item.0.1}}','确认删除任务{{ item.0.1}}?','action')">删除</span>
                                                 <a class="btn btn-info btn-sm" href="/quick/install/detail/list?name={{item.0.1 }}">详情</a> 
                                                </td>
                                              </tr>
                                            {% endfor %}
                                            </tbody>
                                          </table>
                                          </div>
                                          <input type="hidden" name="names" id="names" value=""/>
                                        </form>
                                        {% include "filter.tmpl" %}
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
{% endblock content %}



