{% extends "master.tmpl" %}
{% block content %}
<form id="action" method="POST" action="">{% csrf_token %}</form>
            <div class="content">
                <div class="page-inner">
                    <div class="page-header">
                        <h4 class="page-title">系统安装</h4>
                        <ul class="breadcrumbs">
                            <li class="nav-home">
                                <a href="#">
                                    <i class="flaticon-home"></i>
                                </a>
                            </li>
                            <li class="separator">
                                <i class="flaticon-right-arrow"></i>
                            </li>
                            <li class="nav-item">
                                <a href="#">系统安装</a>
                            </li>
                            <li class="separator">
                                <i class="flaticon-right-arrow"></i>
                            </li>
                            <li class="nav-item">
                                <a href="#">创建任务</a>
                            </li>
                        </ul>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                        <form name="editform" method="post" action="/quick/install/save">{% csrf_token %}
                            <div class="card">
                                <div class="card-body">
                                    <ul class="nav nav-pills nav-secondary" id="pills-tab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">基本</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">高级设置</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content mt-2 mb-3" id="pills-tabContent">
                                        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                                            <div class="row">
                                                <div class="form-group col-md-8">
                                                    <label for="osenv">场景</label>
                                                    <select class="form-control" id="osenv" name="osenv">
                                                    {% for osenv in osenvs %}{% ifequal osenv.0  tasks.osenv %}
                                                        <option value="{{ osenv.0 }}" selected>{{ osenv.1 }}</option>
                                                        {% else %}
                                                        <option value="{{ osenv.0 }}">{{ osenv.1 }}</option>
                                                        {% endifequal %}
                                                    {% endfor %}
                                                    </select>
                                                </div>
                                                <div class="form-group col-md-4">
                                                    <br/><br/>
                                                    <p class="form-text text-muted">默认场景：无DHCP系统重装</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-md-8">
                                                    <label for="osip">IP池</label>
                                                    <textarea autofocus class="form-control" id="osip" name="osip" rows="5">{{ tasks.ips }}</textarea>
                                                </div>
                                                <div class="form-group col-md-4">
                                                    <br/><br/>
                                                    <div class="form-text text-muted">
                                                        <p>重装场景格式: IP1 或 IP1,IP2 或 IP1-IP4,IP6</p>
                                                        <p>新装场景格式: IP NETMASK GATEWAY MAC1 MAC2</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-md-8">
                                                    <label for="osuser">用户名</label>
                                                    <input type="text" class="form-control" id="osuser" name="osuser" value="{{ tasks.osuser }}"/>
                                                </div>
                                                <div class="form-group col-md-4">
                                                    <br/><br/>
                                                    <p class="form-text text-muted">重装系统的账号，新装场景可不填</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-md-8">
                                                    <label for="ospass">密码</label>
                                                    <input type="password" class="form-control" id="ospass" name="ospass" value="{{ tasks.ospwd }}"/>
                                                </div>
                                                <div class="form-group col-md-4">
                                                    <br/><br/>
                                                    <p class="form-text text-muted">重装系统的密码，新装场景可不填</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-md-8">
                                                    <label for="osarch">系统平台</label>
                                                    <select class="form-control" id="osarch" name="osarch">
                                                        {% for arch in osarch %}
                                                        {% ifequal arch  tasks.osarch %}
                                                        <option value="{{ arch }}" selected>{{ arch }}</option>
                                                        {% else %}
                                                        <option value="{{ arch }}">{{ arch }}</option>
                                                        {% endifequal %}
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <div class="form-group col-md-4">
                                                    <br/><br/>
                                                    <p class="form-text text-muted">预安装系统架构</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-md-8">
                                                    <label for="osbreed">系统流派</label>
                                                    <select class="form-control" id="osbreed" name="osbreed">
                                                    {% for breed,releases in breeds.items %}
                                                        {% ifequal breed  tasks.osbreed %}
                                                        <option value="{{ breed }}" selected>{{ breed }}</option>
                                                        {% else %}
                                                        <option value="{{ breed }}">{{ breed }}</option>
                                                        {% endifequal %}
                                                    {% endfor %}
                                                    </select>
                                                </div>
                                                <div class="form-group col-md-4">
                                                    <br/><br/>
                                                    <p class="form-text text-muted">预安装系统流派</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-md-8">
                                                    <label for="osrelease">发行版本</label>
                                                    <select class="form-control" id="osrelease" name="osrelease">
                                                    {% for breed,releases in breeds.items %}
                                                    {% for release in releases %}
                                                        {% ifequal release  tasks.osrelease %}
                                                        <option value="{{ release }}" selected>{{ release }}</option>
                                                        {% else %}
                                                        <option value="{{ release }}">{{ release }}</option>
                                                        {% endifequal %}
                                                    {% endfor %}
                                                    {% endfor %}
                                                    </select>
                                                </div>
                                                <div class="form-group col-md-4">
                                                    <br/><br/>
                                                    <p class="form-text text-muted">预安装系统发行版本</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                                            <div class="row">
                                                <div class="form-group col-md-8">
                                                    <label for="ospart">分区设置</label>
                                                    <textarea autofocus class="form-control" id="ospart" name="ospart" rows="5">{{ tasks.ospart }}</textarea>
                                                </div>
                                                <div class="form-group col-md-4">
                                                    <br/><br/>
                                                    <div class="form-text text-muted">
                                                        <p>格式一: /boot:500M,swap:32G,/var:10G,/:all</p>
                                                        <p>格式二: /boot/efi:100M,/boot:500M,swap:64G,/tmp:30G,/:all</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-md-8">
                                                    <label for="ospackages">安装包</label>
                                                    <textarea autofocus class="form-control" id="ospackages" name="ospackages" rows="5">{{ tasks.ospackages }}</textarea>
                                                </div>
                                                <div class="form-group col-md-4">
                                                    <br/><br/>
                                                    <div class="form-text text-muted">
                                                        <p>默认最小化安装，如需安装额外安装包，请在此定义</p>
                                                        <p>格式: @^minimal,@debugging,@development,sysstat,bash-completion</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-md-8">
                                                    <label for="raid">RAID配置</label>
                                                    <textarea autofocus class="form-control" id="raid" name="raid" rows="5">{{ tasks.raid }}</textarea>
                                                </div>
                                                <div class="form-group col-md-4">
                                                    <br/><br/>
                                                    <div class="form-text text-muted">
                                                        <p>格式一:{"raid1":[("hd1","hd2")],"raid0":[("hd3",),("hd4","hd5")]}</p>
                                                        <p>格式二:{"raid1":[("hd1","hd2"),("hd3","hd4")],"raid5":[("hd3","hd4","hd5")]}</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-md-8">
                                                    <label for="drive_path">驱动路径</label>
                                                    <input type="text" class="form-control" id="drive_path" name="drive_path" value="{{ tasks.drive_path }}"/>
                                                </div>
                                                <div class="form-group col-md-4">
                                                    <br/><br/>
                                                    <div class="form-text text-muted">格式: 协议://地址/路径/驱动名称</div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-md-8">
                                                    <label for="notice_mail">通知邮箱</label>
                                                    <input class="form-control" id="notice_mail" name="notice_mail" type="email" value="{{ tasks.notice_mail }}"/>
                                                </div>
                                                <div class="form-group col-md-4">
                                                    <br/><br/>
                                                    <div class="form-text text-muted">任务完成后接收通知的用户邮箱</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-action">
                                        <input class="btn btn-success" type="submit" name="submit" value="创建" />
                                        <input class="btn btn-danger" type="button" onClick="window.location='/quick/install/resume/list';" value="撤销"/>
                                        <input type="hidden" name="name" id="name" value="{{ name }}" />
                                        <input type="hidden" name="editmode" value="{{ editmode }}" />
                                    </div>
                                </div>
                            </div>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
{% endblock content %}


