{% extends "master.tmpl" %}
{% block content %}
<form id="action" method="POST" action="">{% csrf_token %}</form>
{% ifequal what "user/user" %}
<h1>用户列表</h1>
{% endifequal %}
{% ifequal what "user/role" %}
<h1>角色列表</h1>
{% endifequal %}
{% ifequal what "user/right" %}
<h1>权限列表</h1>
{% endifequal %}
<hr />
<div id="view_col" style="top:150px;right:350px;position:absolute;display:none;background:#fff;color:#000;">
  <ul>
  {% for column in columns %}
    <li style="margin:10px;">
    <input type="checkbox" id="select_{{ column.0 }}" style="margin:0px 10px;padding:0px;" name="view_col" value="{{ column.3 }}" checked="checked" onclick="javascript:item_check_off(this,this.value);" />
    <label for="select_{{ column.0 }}"><i></i></label> 
    {{ column.2 }}
    </li>
  {% endfor %}
  </ul>
</div>
<ul id="submenubar">
  <li>
    <a class="action" href="/quick/{{ what }}/edit">添加</a>
  </li>
  <li>
    <select id="batchactions">
      <option value="" selected="selected">批量操作</option>
      {% for title,action,value in batchactions %}<option value="{{ action }}|{{ value }}">{{ title }}</option>{% endfor %}
    </select>
    <input class="button" type="button" value="执行" onclick="javascript:action_multi('{{ what }}')" />
  </li>
  {% include "paginate.tmpl" %}
</ul>

<form name="myform" method="post" action="/quick/{{ what }}/action">
  {% csrf_token %}
  <div style="width:100%;overflow:auto;">
  <table id="listitems" cellspacing="0" onclick="javascript:hide();">
    <thead>
      <tr>
        <th>
          <input type="checkbox" id="itemsall" onclick="javascript:items_check_all();" />
          <label for="itemsall"> <i></i></label> 
        </th>
        {% for value in columns %}
        <th>
          <a href="javascript:action_sort('{{ what }}','{{ value.0 }}');">{{ value.2 }}</a>
          {% ifequal value.1 "asc" %}&darr;{% endifequal %}
          {% ifequal value.1 "desc" %}&uarr;{% endifequal %}
        </th>
        {% endfor %}
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
    {% for item in items %}
    <tr class="{% cycle 'rowodd' 'roweven' %}">
        <td>
          <input type="checkbox" name="items" id="{{ item.0.1 }}" value="{{ item.0.1 }}" onclick="javascript:items_check(this);" />
          <label for="{{ item.0.1 }}"> <i></i></label> 
        </td>
    {% for value in item %}
        <td>
            {% if value.1 == 'yes' %}是
            {% elif value.1 == 'no' %}否
            {% elif value.1 == 'enable' %}启用
            {% elif value.1 == 'disable' %}禁用
            {% elif value.1 == 'online' %}在线
            {% elif value.1 == 'offline' %}离线
            {% else %} {{value.1}}
            {% endif %}
        </td>
    {% endfor %}
        <td>
          <a class="action" href="/quick/{{ what }}/edit/{{ item.0.1 }}">编辑</a>
          <span class="action" onClick="javascript:obj_execute('/quick/{{ what }}/delete/{{ item.0.1 }}','删除?','action')">删除</span>
          {% ifequal what "user/user" %}
          <span class="action" onClick="javascript:obj_execute('/quick/{{ what }}/offline/{{ item.0.1 }}','强制该用户下线?','action')">强制下线</span>
          {% endifequal %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  </div>
  <input type="hidden" name="names" id="names" value=""/>
</form>
{% include "filter.tmpl" %}
{% endblock content %}




