<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>任务列表</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="/quick_content/jquery-ui.css" type="text/css" />
  <link rel="stylesheet" type="text/css" media="all" href="/quick_content/style.css" />
  <link rel="stylesheet" type="text/css" media="all" href="/quick_content/jsGrowl.css" />
  <script src="/quick_content/jquery.min.js"></script>
  <script src="/quick_content/jquery-ui.min.js"></script>
  <script src="/quick_content/jsGrowl.js" type="text/javascript"></script> 
  <script src="/quick_content/jsGrowl_jquery.js" type="text/javascript"></script> 
  <script src="/quick_content/cobbler.js" type="text/javascript"></script> 
  <link rel="icon" type="image/png" href="/quick_content/favicon.png" />
  <link rel="stylesheet" href="/quick_content/layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="/quick_content/layuiadmin/style/admin.css" media="all">
</head>
<body>
  
  <div class="layui-fluid">
<form id="action" method="POST" action="">{% csrf_token %}</form>
<script src="/quick_content/quick.js" type="text/javascript"></script>
<h1><b>用户列表</b></h1>
<hr/>
<ul id="submenubar">
  <li>
    <a class="action" href="/quick/user/edit">添加用户</a>
  </li>
  <li>
    <select id="batchactions">
      <option value="" selected="selected">批量操作</option>
      {% for title,action,value in batchactions %}<option value="{{ action }}|{{ value }}">{{ title }}</option>{% endfor %}
    </select>
    <input class="button" type="button" value="执行" onclick="javascript:action_multi('{{ what }}')" />
  </li>
  {% include "paginate.tmpl" %}
</ul>

<form name="myform" method="post" action="/quick/user/action">
  {% csrf_token %}
  <table id="listitems" cellspacing="0">
    <thead>
      <tr>
        <th>
          <input type="checkbox" id="itemsall" onclick="javascript:items_check_all();" />
        </th>
        {% for value in columns %}
        <th>
          <a href="javascript:action_sort('{{ what }}','{{ value.0 }}');">{{ value.2 }}</a>
          {% ifequal value.1 "asc" %}&darr;{% endifequal %}
          {% ifequal value.1 "desc" %}&uarr;{% endifequal %}
        </th>
        {% endfor %}
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
    {% for item in items %}
    <tr class="{% cycle 'rowodd' 'roweven' %}">
        <td><input type="checkbox" name="items" value="{{ item.0.1 }}" onclick="javascript:items_check(this);" /></td>
    {% for value in item %}
        <td>
            {% if value.1 == 'yes' %}是
            {% elif value.1 == 'no' %}否
            {% elif value.1 == 'enable' %}启用
            {% elif value.1 == 'disable' %}禁用
            {% elif value.1 == 'online' %}在线
            {% elif value.1 == 'offline' %}离线
            {% else %} {{value.1}}
            {% endif %}
        </td>
    {% endfor %}
        <td>
          <a class="action" href="/quick/user/edit/{{ item.0.1 }}">编辑</a>
          <span class="action" onClick="javascript:user_offline('{{ item.0.1 }}')">强制下线</span>
          <span class="action" onClick="javascript:user_delete('{{ item.0.1 }}')">删除</span>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <input type="hidden" name="names" id="names" value=""/>
</form>
{% include "filter.tmpl" %}
  </div>
</body>
</html>

